<form {{action 'activate' on='submit'}} class="form-login">
    <h2 class="form-login-heading-top">Please Scan QR and insert OTP</h2>
    {{qr-code data=qrLink light="#FFFFFF" dark="#330000" width=300 height=300}}

    <label for="code" class="sr-only">One time password</label>
    {{input value=password type="text" class="form-control" id="code" placeholder="OTP" required=true}}

    {{#if errorMsg}}
        <p class="bg-danger"><strong>OTP Verification failed:</strong> {{errorMsg}}</p>
    {{/if}}
    <button type="submit" class="btn btn-lg btn-success btn-block">Activate</button>
</form>
