<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>About</h1>
        <p>Proof-of-concept of the reserch "A proposal of security bootstraping for the Internet of Things"</p>
        <p>This work proposes a mechanism for security bootstrapping on small office/home office
            (SOHO) environments, based on IETF standards. It will enable any IoT device on the
            network to communicate with other devices or
            services in the same network with encrypted connections and mutual authentication (using TLS
            or DTLS). This mechanism aims for simplicity
            and reasonable security. Both are requirements
            of SOHO environments, where the profile of
            the administrator of the infrastructure probably is not much skilled, but the lack of security
            is a risk.</p>

        <p>You can find more information on the research.</p>
    </div>
</div>