<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header" >
        <a class="navbar-brand" href="#">EST Server</a>
    </div>

</nav>

<div class="container-fluid">
    {{outlet}}
</div>

