<div class="row">
    <div class="jumbotron col-md-10 col-md-offset-1">
        <h1>Wellcome to auto-pki-server</h1>
        <p>Proof-of-concept of the reserch "A proposal of security bootstraping for the Internet of Things"</p>
    </div>
</div>
