<div class="row">
    <div class="col-sm-3 col-md-2 list-group">
        {{#link-to "csrs"  class="list-group-item"}}Requests{{/link-to}}
        {{#link-to "users" class="list-group-item"}}Users{{/link-to}}
        {{#link-to "about" class="list-group-item"}}About{{/link-to}}
    </div>
    <div class="col-sm-9 col-md-9 sidebar">
        <h1>Wellcome to EST Server</h1>
    </div>
</div>
