
<form {{action 'authenticate' on='submit'}} class="form-login">
    <h2 class="form-login-heading">Please sign in</h2>

    <label for="identification" class="sr-only">Username</label>
    {{input
        value=identification
        type="text" class="form-control"
        id="identification"
        placeholder="Username"
        autofocus=true
        required=true
    }}
    <label for="password" class="sr-only">Password</label>
    {{input value=password type="password" class="form-control" id="password" placeholder="Password" required=true}}

    {{#if errorMsg}}
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{errorMsg}}
        </div>
    {{/if}}
    <button type="submit" class="btn btn-lg btn-primary btn-block">Submit</button>
</form>