<div class="col-lg-10 col-lg-offset-1">

    <h2>Users</h2>

    {{list-users users=model.users groups=model.groups}}

    <div class="modal fade" id="modal" role="dialog">
        {{outlet}}
    </div>
</div>